
actuators & modules/.vscode/

actuators & modules/miro_calibration/.vscode/

actuators & modules/miro_calibration/

robot_project/.vscode/

robot_project/actuators/__pycache__/

robot_project/behaviors/__pycache__/

robot_project/behaviors/.vscode/

robot_project/IS_modules/__pycache__/

robot_project/test.py

robot_project/output.wav

robot_project/play_with_me.mp3

robot_project/nonrostest.py

robot_project/out/

actuators & modules/

robot_project/mp3_files/
